.navbar-custom {
    transition: padding-top 0.5s, padding-bottom 0.5s; 
    padding-top: 1.5rem;   
    padding-bottom: 1.5rem; 
    border-bottom: 1px solid #e2e2e2;
}

.scrolled {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding-top: 0.7rem;
    padding-bottom: 0.7rem; 
}

